
@mixin  center ($type: 'both') {
  display: flex;
  flex-wrap: wrap;

  @if $type == 'justify' {
    justify-content: center;
  } @else if $type == 'align' {
    align-items: center;
  } @else if $type == 'both' {
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}

